html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; color: #4c4c4c }


h1 {
  font-size: 35px;
  margin: 0;
}
h3 {
  font-size: 14.5px;
  margin: 0;
}


mat-card {
  border-radius: 15px !important;
}

