.empty-placeholder {
  text-align: center;
  padding-top: 6em;
  color: #848484;
  font-size: 22px;
}

.card {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
}
