@for (bookmark of storage.bookmarks(); track bookmark) {
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{bookmark.repositoryName}}</mat-card-title>
      <mat-card-subtitle>Language: {{bookmark.language}}</mat-card-subtitle>
    </mat-card-header>
    <img style="width: 24px" mat-card-image [src]="bookmark.avatarUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{bookmark.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="deleteBookmark(bookmark)">Remove</button>
    </mat-card-actions>
  </mat-card>
}
